.class-card {
    width: 200px;
    height: 150px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
  
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
  
.node text {
    font: 12px sans-serif;
}